@model ActivosFijo.Models.TblMovimiento

@{
    ViewBag.Title = "Details";
}



@* el detalle para los movimientos *@
<h2>Details</h2>

<div>
    <h4>TblMovimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dFechaMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dFechaMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nMontoMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nMontoMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dFechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dFechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdActivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cAsignacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cAsignacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblCategoria.cDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblCategoria.cDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblLocacione.cDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblLocacione.cDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblTipoBaja.cDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblTipoBaja.cDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblTiposActivo.cDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblTiposActivo.cDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblPersona.cDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblPersona.cDocumento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
