@model IEnumerable<ActivosFijo.Models.Plane>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div class="row mt-5">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Lista de Planes</h3>
                    </div>
                    <div class="col text-right">
                        <a class="nav-link active" href="@Url.Action("Create","Planes")">
                            <i class="fa fa-plus-circle text-success"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                @*Table de informacion*@
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                Acción
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Plan)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.RegistradoPor)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.FechaRegistro)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="row">
                                        <a class="nav-link active" href="@Url.Action("Edit","Planes", new { id = item.Id })">
                                            <i class="fa fa-edit text-success"></i>
                                        </a>
                                        <a class="nav-link active" href="@Url.Action("Details","Planes", new { id = item.Id })">
                                            <i class="fa fa-eye text-info"></i>
                                        </a>
                                        <a class="nav-link active" href="@Url.Action("Delete","Planes", new { id = item.Id })">
                                            <i class="ni ni-fat-remove text-danger mh-100"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Plan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegistradoPor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
